<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <progress class="prog-animation d-none" value="1" max="100"></progress>
    <header id="header"></header>
    <main class="min-vh-100 bg-tirai pt-0 pt-lg-5">
        <div class="container d-flex justify-content-start flex-column  min-vh-100">
            <div class="blur-box py-5 mt-5 mb-0">
                <div class="text-wrap d-flex flex-wrap overflow-y-hidden scrol-h-custom shadow-lg m-1" id="datamenuuser"></div>
            </div>
        </div>

    </main>
</body>
</html>